.events {
  width: 100%;
  height: 30px;
  margin: 12px 0;
  max-width: 816px;
  position: relative;
  @extend %flex-align;

  &__overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 234;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    max-width: 816px;
    flex-direction: column;

    &__space {
      @extend %flex-between;
      margin-bottom: 24px;
    }

    &__header {
      @extend %flex-align;

      &__events {
        margin-right: 8px;
        font-weight: 700;
      }

      &__cfr {
        color: red;
        font-weight: 700;
        margin-right: 8px;
      }

      &__length {
        width: 24px;
        height: 24px;
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        border-radius: 7px;
        @extend %flex-center;
        letter-spacing: -0.373333px;
      }
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background: #e4e6eb;
  }

  &__box {
    border-radius: 10px;
    background-color: $white;
    max-width: 170px;
    width: 100%;
    padding: 4px 0 4px 21px;
    position: absolute;
    @extend %flex-align;
    max-height: 30px;
    left: calc(50% - 85px);
    cursor: pointer;
    transition: 0.3s all;
    border: 1px solid #e4e6eb;

    &__open {
      background-color: #f5f7fa;
    }

    &__content {
      @extend %flex-between;
      max-width: 135px;
      width: 100%;

      &__title {
        color: #bec0c4;
        max-width: 79px;
        width: 100%;
      }

      &__count {
        color: #bec0c4;
        background: #e4e6eb;
        border-radius: 7px;
        width: 20px;
        height: 20px;
        @extend %flex-center;
      }

      &__icon {
        display: flex;

        svg {
          transition: all 0.3s ease 0s;
          path {
            fill: #bec0c4;
          }
        }
      }
    }
  }

  &__expanded {
    margin-bottom: 8px;

    &__wrapper {
      margin-bottom: 4px;
    }

    &__content {
      padding: 6px 10px 6px 2px;
      background: #f5f7fa;
      border-radius: 8px;
      width: 100%;

      &__end {
        @extend %flex-between;
        width: 100%;
        max-width: 203px;
      }

      &__profile {
        @extend %flex-align;
        margin-left: 27px;

        &__image {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          margin-right: 12px;
        }

        &__more {
          display: flex;
        }
      }

      &__items {
        @extend %flex-align;
      }

      &__count {
        @extend %flex-center;
        color: #1a1b1e;
        background: #e4e6eb;
        border-radius: 4px;
        width: 38px;
        height: 38px;
        margin-left: 4px;
        margin-right: 16px;
      }

      &__title {
        max-width: 177px;
        width: 100%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-right: 28px;
      }

      &__date {
        max-width: 103px;
        width: 100%;
        margin-right: 23px;
        &_clock {
          color: #bec0c4;
        }

        &__blocks {
          display: flex;
          width: 100%;
          max-width: 201px;

          &_status {
            margin-right: 8px;
          }
        }
      }
    }
  }
}
