.container {
  font-weight: bold;
  border-radius: 8px;
  background-color: red;

  &__left {
    @extend %flex-align;
    padding: 10px 32px;

    svg {
      margin-right: 8px;
    }
  }

  &:hover {
    background-color: #11a3a6;
  }

  &:disabled {
    color: #84878d;
    background-color: #e4e6eb;
  }

  &_medium {
    padding: 11px 40px;
  }

  &_large {
    padding: 18px 40px;
  }

  &_ghost {
    background-color: transparent;
    color: #5b708f;
    &:hover {
      background: none;
    }
  }
}
