.container {
  font-weight: bold;
  border-radius: 8px;
  background-color: $success;

  &:hover {
    opacity: 0.9;
    color: $dark-white;
  }

  &:disabled {
    color: $grey_color;
    background-color: $dark-white;
  }
}
