.container {
  height: 300px;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__block {
    @extend %flex-align;

    &:first-child {
      margin-top: 24px;
    }

    &__input {
      max-width: 330px;
      width: 100%;
    }

    &__button {
      padding: 0;
      margin-left: 20px;
    }

    &__add {
      @extend %flex-align;
      padding-top: 10px;

      svg {
        path {
          fill: #5b708f;
        }
      }

      span {
        display: flex;
      }

      &__btn {
        padding: 0;
        margin-left: 5px;
      }
    }
  }

  &__click {
    @extend %flex-align;
    position: relative;

    svg {
      transition: 0.3s all;
    }

    &__button {
      padding: 0;
      margin-left: 20px;
    }

    span {
      display: flex;
      margin-left: 4px;
    }
  }

  &__expanded {
    background: #ffffff;
    box-shadow: 0px 6px 10px rgb(4 9 33 / 10%);
    border-radius: 8px;
    width: 133px;
    height: 108px;
    overflow-x: scroll;
    position: absolute;
    top: 42px;
    right: 1px;
    z-index: 11;

    &__box {
      display: flex;
      padding: 16px;
      position: relative;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        width: calc(100% - 32px);
        bottom: 0;
        left: 16px;
        background: #e5e5e5;
        height: 1px;
      }

      &:last-child {
        &:after {
          height: 0px;
        }
      }

      &:hover {
        background: #f5f7fa;
      }
    }
  }
}
