.container {
  @extend %flex-center;
  cursor: pointer;
  border-radius: 6px;
  padding: 3px 8px;
  width: 103px;
  height: 28px;

  &__text {
    text-transform: capitalize;
  }

  &_draft {
    background: rgba(172, 186, 208, 0.4);

    span {
      color: #838d9e;
    }
  }

  &_active {
    background: rgba(62, 198, 182, 0.2);

    span {
      color: #27bb96;
    }
  }

  &_inactive {
    background: rgba(242, 112, 35, 0.2);

    span {
      color: #f27023;
    }
  }

  &_pending {
    background: #eff4ab;

    span {
      color: #a3c716;
    }
  }

  &_blocked {
    background: #f7d5b7;

    span {
      color: #cb563d;
    }
  }

  &_non-agreed {
    background: #ffd4f3;

    span {
      color: #d6297c;
    }
  }

  &_executed {
    background: rgba(56, 114, 200, 0.2);
    span {
      color: #3872c8;
    }
  }

  &_not-executed {
    background: rgba(214, 41, 72, 0.2);
    span {
      color: #d62948;
    }
  }

  &_validated {
    background: rgba(44, 180, 199, 0.2);
    span {
      color: #2cabc7;
    }
  }

  &_not-validated {
    background: rgba(255, 178, 63, 0.28);
    span {
      color: #f09206;
    }
  }
}
