.wrapper {
  margin-right: 39px;
  padding-right: 23px;
  border-right: 1px solid #e4e6eb;
}

.container {
  max-width: 441px;
  width: 100%;
  margin-bottom: 12px;

  &__inner {
    padding: 12px 16px;
    cursor: pointer;

    &:not(.container__inner_active) {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 16px;
        width: calc(100% - 32px);
        height: 1px;
        background: #e4e6eb;
      }
    }

    &_active {
      border-radius: 16px;
      background: #f5f7fa;
      border-bottom: none;
      cursor: default;
    }
  }

  &__content {
    display: flex;

    &__number {
      color: #84878d;
      font-weight: 700;
    }

    &__title {
      color: $black;
      font-weight: 700;
      margin-left: 5px;
    }

    &__description {
      margin-top: 8px;

      &__txt {
        color: #84878d;
      }
    }
  }
}
