.container {
  max-width: 424px;
  width: 100%;
  height: 6px;
  border-radius: 6px;
  background: #f4f5f7;
  margin: 7px 0;

  &__days {
    color: #bec0c4;
    display: flex;
    max-width: 424px;
    width: 100%;
    justify-content: flex-end;
  }

  &__wrapper {
    max-width: 424px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__label {
      color: #84878d;
    }

    &__date {
      color: #1a1b1e;
    }
  }

  &__range {
    background: #189268;
    height: 100%;
    border-radius: inherit;
    transition: width 0.3s ease-in;
  }
}
