// Main Colors
$white: #fff;
$dark-white: #c4c4c4;
$dark-red: #99080f;
$red: #f32d36;
$light-black: #151515;
$black: #020202;
// other colors //

// Background colors

$grey: rgba(47, 47, 47, 0.5);
$dark-grey: rgba(47, 47, 47, 0.8);

// Button Colors
// $button_default: #3ec8c9;
// $button_hover: #3ec8c9;
// $button_pressed: #0b97a0;
