%heading_extra {
  font-family: $montserrat_family;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: $white;
}

%heading_large {
  font-family: $montserrat_family;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  color: $black;
}

%heading_medium {
  font-family: $montserrat_family;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: $black;
}

%heading_small {
  font-family: $montserrat_family;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $black;
}

%text_regular {
  font-family: $montserrat_family;
  font-size: 16px;
  line-height: 24px;
  color: $black;
}

%text_semibold {
  font-family: $montserrat_family;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: $black;
}

%text_small {
  font-family: $montserrat_family;
  font-size: 12px;
  line-height: 16px;
  color: $black;
}

%text_medium {
  font-family: $montserrat_family;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

%button_medium {
  font-family: $montserrat_family;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

%button_small {
  font-family: $montserrat_family;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: $white;
}

%button_small {
  font-family: $montserrat_family;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  // color: $gray_scale_55;
}

%link_small {
  font-family: $montserrat_family;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  // color: $main;
}

%link_medium {
  font-family: $montserrat_family;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  // color: $main;
}

%project_title {
  font-family: $montserrat_family;
  font-size: 64px;
  line-height: 78px;
}

%category-buttons {
  font-family: $montserrat_family;
  font-weight: 500;
  font-size: 20px;
  padding: 13px 34px;
  line-height: 24px;
}

%film_name {
  font-family: $montserrat_family;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

%film_info_text {
  font-family: $montserrat_family;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

%film_date {
  font-family: $montserrat_family;
  font-size: 18px;
  line-height: 22px;
  color: $red;
}

%film_likes_views_comments {
  font-family: $montserrat_family;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

%actor_name {
  font-family: $montserrat_family;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

%separate_page_film_name {
  font-family: $montserrat_family;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
}
%separate_page_film_info_description {
  font-family: $montserrat_family;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

%button-styles {
  font-family: $montserrat_family;
  background-color: $light-black;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid $dark-white;
  box-sizing: border-box;
  border-radius: 48px;
}

%footer_text {
  font-family: $montserrat_family;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

%search-styling {
  font-family: $montserrat_family;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
