.container {
  $root: &;

  @extend %flex-between;
  min-height: 36px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #e6e6e6;

  &__wrapper {
    position: relative;

    @media (max-width: 768px) {
      margin-top: 12px;
    }
  }

  &__tick {
    height: 24px;
    padding-right: 16px;
  }

  &__title {
    color: #808080;

    &_active {
      color: #1a1b1e;
    }
  }

  &_labeled {
    margin-top: 6px;
  }

  &_disabled {
    background-color: #f5f7fa;
  }

  &_error {
    border-color: #d63842;

    svg {
      transition: all 0.3s;
      path {
        fill: #d63842;
      }
    }
  }

  &_expanded {
    position: relative;
    border-color: red;

    svg {
      transition: all 0.3s;
      path {
        fill: red;
      }
    }

    &__inner {
      @extend %flex-between;
      padding: 0 24px;
      position: relative;

      &:hover {
        background-color: #f5f7fa;

        #{$root}_expanded__inner_sub {
          display: flex;
        }

        // #{$root}_expanded__inner {
        //   &__content {
        //     border: none !important;
        //   }
        // }
      }

      &_sub {
        top: 0;
        z-index: 1;
        width: 100%;
        height: 239px;
        display: none;
        overflow: auto;
        padding: 0 24px;
        min-width: 316px;
        max-height: 405px;
        position: absolute;
        background: #fff;
        border-radius: 8px;
        transition: 0.5s all;
        flex-direction: column;
        right: calc(100% - 13px);
        box-shadow: 0px 6px 20px rgba(4, 9, 33, 0.1);

        @media (max-width: 768px) {
          left: 262px;
        }

        @media (max-width: 575px) {
          left: 0px;
          top: 72px;
          min-width: 236px;
        }

        &::-webkit-scrollbar {
          display: none;
        }

        &_item {
          @extend %flex-between;
          padding: 25.5px 0;

          &:not(:last-child) {
            border-bottom: 1px solid #e5e5e5;
          }

          &_wrapper {
            @extend %flex-align;

            &_status {
              margin-left: 19px;
            }
          }
        }
      }

      &__content {
        @extend %flex-between;
        padding: 24px 0;
        width: 100%;

        &_first {
          border-top: none !important;
        }

        &_last {
          border-bottom: none !important;
        }

        &_nolast {
          border : {
            bottom: 1px solid #e5e5e5;
          }
        }
      }
    }

    &__box {
      top: 62px;
      left: -95px;
      width: 275px;
      position: absolute;
      background: $white;
      border-radius: 8px;
      box-shadow: 0px 6px 20px rgb(4 9 33 / 10%);

      @media (max-width: 768px) {
        left: 0;
        top: 50px;
        z-index: 22;
        width: 236px;
      }

      &__block {
        @extend %flex-between;
        flex: 1;
        margin-right: 15px;

        &_count {
          @extend %flex-center;
          width: 24px;
          height: 24px;
          border-radius: 8px;
          background: red;
          color: #ffffff !important;
        }
      }

      &__item {
        @extend %text-elypsis;
        cursor: pointer;
        position: relative;
        color: #1a1b1e;
      }
    }
  }

  &__error {
    border-color: #d63842 !important;
    color: #d63842;
  }
}
