.container {
  margin-left: 50px;
  margin-top: 50px;

  &__list {
    color: #84878d;
    margin-right: 8px;
    padding: 6px 10px;
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
  }
  &__inner {
    display: flex;
  }

  &_active {
    border: 1px solid red;
    border-radius: 8px;

    &__link {
      color: red !important;
    }
  }

  &__link {
    color: #84878d;
  }
}
