.container {
  width: 100%;
  @extend %flex-column;

  &__button {
    max-width: 100%;
    margin: 32px auto 0;
    border-radius: 8px;
    padding: 13px 0;

    &_disabled {
      background: $white;
      color: $red;
      margin: 32px auto 0;
      cursor: not-allowed;
    }
  }
}
