.container {
  height: 52px;
  @extend %flex-justify-between;
  cursor: pointer;
  border-radius: 8px;
  align-items: center;
  border: 1px solid #e6e6e6;
  background-color: #f5f7fa;

  &__content {
    color: #84878d;
    margin-top: 1px;
  }

  &__wrapper {
    position: relative;
    max-width: 343px;
    width: 100%;
  }

  &__value {
    width: 100%;
    max-width: 293px;
    padding-left: 12px;
  }

  &__tick {
    height: 24px;
    padding-right: 16px;
  }

  &__title {
    color: #808080;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &_active {
      color: #1a1b1e;
    }
  }

  &_labeled {
    margin-top: 6px;
  }

  &_disabled {
    background-color: #f5f7fa;
  }

  &_error {
    border-color: #d63842;

    svg {
      transition: all 0.3s;
      path {
        fill: #d63842;
      }
    }
  }

  &_expanded {
    position: relative;

    &__box {
      left: 0;
      top: 62px;
      width: 100%;
      z-index: 9;
      max-height: 403px;
      overflow-y: scroll;
      border-radius: 8px;
      position: absolute;
      background: $white;
      box-shadow: 0px 6px 20px rgb(4 9 33 / 10%);

      &::-webkit-scrollbar {
        display: none;
      }

      @media (max-width: 768px) {
        max-width: 252px;
      }

      &_inner {
        margin: 24px !important;
        margin-bottom: 12px !important;

        svg path {
          fill: $black !important;
        }
      }

      &_input {
        font-weight: 600;
        font-size: 14px !important;
        line-height: 19px !important;
        color: #808080 !important;
        padding: 8px 0 7px 16px !important;
      }

      &__item {
        padding: 0 24px;

        &__container {
          width: 100%;
        }

        &_wrapper {
          cursor: pointer;
          padding: 20px 0px;
          color: #1a1b1e;
          display: flex;
          flex-direction: column;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            width: calc(100% - 16px);
            bottom: 0;
            left: 0px;
            background: #e5e5e5;
            height: 1px;
          }

          &:hover {
            background: #f5f7fa;
          }
        }

        &:hover {
          background-color: #f5f7fa;
        }

        span {
          margin-top: 4px;
          color: #84878d;
        }
      }
    }
  }

  &__error {
    border-color: #d63842 !important;
    color: #d63842;
  }
}
