$root: &;

.container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1024;
  display: table;
  position: fixed;
  transform: scale(0);

  &__background {
    @extend %flex-center;
    height: 100%;
    vertical-align: middle;
    // background: rgba($color: $black, $alpha: 0.8);
  }

  &__reveal {
    transform: scale(1);

    &__background {
      @extend %animtaion-fade-in;
      background: rgba(0, 0, 0, 0);

      &__content {
        // opacity: 0;
        @extend %animtaion-scale-up;
      }
    }

    // + :global(.modal-back-content) {
    //   @extend %animtaion-scale-back;
    // }

    &_out {
      @extend %animtaion-quick-scale-down;

      &__background {
        @extend %animtaion-fade-out;

        &__content {
          @extend %animtaion-scale-down;
        }
      }

      // + :global(.modal-back-content) {
      //   @extend %animtaion-scale-forward;
      // }
    }
  }

  &__content {
    background-color: $white;
    display: inline-block;
    border-radius: 8px;
    position: relative;
    width: min-content;
    box-shadow: 0px 16px 32px rgba(4, 9, 33, 0.15);

    // top: 50%;
    // left: 50%;
    // width: 100%;
    // z-index: 999;
    // height: 787px;
    // margin: 0 auto;
    // position: fixed;
    // margin-top: 30px;
    // max-width: 880px;
    // border-radius: 8px;
    // background: #ffffff;
    // padding: 24px 32px 32px;
    // transform: translate(-50%, -50%);
    //
  }
}
