.container {
  display: flex;
  position: relative;
  padding-left: 16px;
  cursor: pointer;
  font-size: 22px;
  height: 18px;

  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  input:checked ~ .checkmark {
    background-color: #2196f3;
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__after {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 2px solid #e4e6eb;
    border-radius: 3px;

    &::after {
      content: '';
      position: absolute;
      display: none;
    }
  }

  input:checked ~ &__after {
    background: #048f92;
    border-radius: 3px;
    border: none;

    &:after {
      display: block;
      left: 6px;
      top: 3px;
      width: 5px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}
