.container {
  @extend %flex-center;
  cursor: pointer;
  border-radius: 6px;
  padding: 3px 8px;
  width: 106px;
  height: 28px;

  &__text {
    text-transform: capitalize;
  }

  &_verification {
    background: #f5b73c;

    span {
      color: $white;
    }
  }

  &_receiptOnly {
    background: #2c6fbd;

    span {
      color: $white;
    }
  }
}
