.wrapper {
  position: relative;
  margin-right: 16px;
}

.header {
  @extend %flex-between;
  border: 1px solid #e6e6e6;
  cursor: pointer;
  height: 36px;
  padding: 9px 0 8px 12px;
  border-radius: 8px;
  max-width: 237px;
  width: 100%;

  svg {
    transition: all 0.3s;
  }

  &__text {
    color: #84878d;
  }

  &__active {
    border-color: #048f92;

    svg {
      transform: rotate(180deg);
    }
  }
}

.content {
  position: absolute;
}
