.container {
  width: 100%;
  display: flex;
  padding: 14px 16px;
  border-radius: 8px;
  margin: 4px 0;
  color: $black;
  transition: all 0.1s;
  border: 1px solid $dark-white;

  &::placeholder {
    color: $grey_color;
  }

  &:hover {
    border-color: $dark-white;
  }

  &:active,
  &:focus {
    border-color: $red;
  }

  &:valid {
    border-color: $success;
  }

  &__label {
    color: $light-black !important;
    margin: 6px 0;
  }

  &_with_icon {
    padding-right: 50px;
  }

  &__inner {
    position: relative;
    @extend %flex-align;

    &__error {
      margin-bottom: 0;
    }

    &_disabled {
      background-color: $dark-white;
    }
  }

  &__label {
    font-weight: 600;
    color: $grey_color;
  }

  &__error {
    border-color: $error-color !important;

    &__text {
      color: $error-color;
    }
  }

  &__right_icon {
    right: 16px;
    cursor: pointer;
    position: absolute;
  }
}
