.container {
  width: 256px;
  display: flex;

  padding: 14px 16px;
  border-radius: 8px;
  color: #1a1b1e;
  transition: all 0.1s;
  border: 1px solid #e4e6eb;

  &::placeholder {
    color: #84878d;
  }

  &:hover {
    border-color: #bec0c4;
  }

  &:active,
  &:focus {
    border-color: red;
  }

  &_with_icon {
    padding-right: 50px;
  }

  &__inner {
    position: relative;
    @extend %flex-align;

    &__error {
      margin-bottom: 0;
    }

    &_disabled {
      background-color: #f5f7fa;
    }
  }

  &__label {
    font-weight: 600;
    color: #84878d;
  }

  &__error {
    border-color: #d63842 !important;

    &__text {
      color: #d63842;
    }
  }
}

.textarea {
  resize: none;
  margin-left: 20px;
  height: 129px !important;
  width: 256px !important;
  padding: 7px 12px !important;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #1a1b1e;
  border: 1px solid #e6e6e6 !important;
  border-radius: 8px;

  &__box {
    max-height: 204px;
    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__hidden {
    display: none;
  }

  &::placeholder {
    color: #bec0c4;
    font-weight: 600;
  }

  &__wrapper {
    &__content {
      margin-left: 20px;
      margin-top: 24px;
      @extend %flex-between;

      &__icon {
        cursor: pointer;
        path {
          fill: #5b708f;
        }
      }

      &__cancel {
        width: 111px;
        padding: 8.5px 34px;
      }

      &__save {
        padding: 8.5px 29px;
      }
    }

    &__document {
      @extend %flex-between;
      margin-left: 20px;
      margin-top: 12px;
      margin-bottom: 16px;
      background: #f5f7fa;
      border-radius: 8px;
      padding: 4px 11px;

      &__name {
        max-width: 150px;
      }

      &__size {
        color: #84878d;
      }

      svg {
        cursor: pointer;

        path {
          fill: #5b708f;
        }
      }
    }
  }

  &:focus {
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    outline: none !important;
  }
}
